<div class="text-center">
  <!-- <h2 class="section-heading text-center">IN THE PRESS</h2>
      <hr class="primary" /> -->
  <div class="videoCarousel">
    {{#each video_carousel}}
    <div class="slide-content" style="outline: none !important">
        <a data-fancybox href="https://www.youtube.com/watch?v={{this.video_id}}&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
          <div style="background:url(https://img.youtube.com/vi/{{this.video_id}}/maxresdefault.jpg); position:relative; background-repeat: no-repeat; background-position: center; background-size: cover; min-height:600px; min-width:100%; max-width: 100%; cursor: pointer;" id="imageP">
            <img src="{{root}}assets/img/playicon.png" style="position:absolute; top: 300px; width: 120px; cursor: pointer; left: calc(50% - 60px);" />
          </div>
        </a>  
        <div style="word-break: break-word" class="mt-4">
          <h4>{{this.headLine}}</h4>
        </div>
    </div>
    {{/each}}
  </div>
</div>