<section id="contact">
  <div class="container">
    <div class="row" style="display:flex; align-items: center;">
      <div class="col-lg-2"></div>
      <div class="col-lg-5 col-8 text-center">
        <h2 class="section-heading">CONTACT <b>US</b></h2>
        <hr class="primary" />
        <p>
          <b>Registered as</b>: NavGurukul Foundation for Social Welfare<br />
          <b>CIN Number</b>: U85300HR2016NPL066468<br /> Let's talk at
          <a href="mailto:hi@navgurukul.org">hi@navgurukul.org</a>.
        </p>
      </div>
      <div class="col-lg-5 col-2">
        <span class="funfacts">
            <span class="icon">
              <a target="_blank" href="http://facebook.com/NavGurukul"><i class="fa fa-facebook"></i></a>
            </span>
        <!-- <h4 class="text-dark">Facebook</h4> -->
        </span>
      </div>
    </div>
  </div>

</section>