<section class="bg-dark pt-2 pb-2">
    <div class="container">
        <div class="row bg-dark">
            <!-- <div class="col-md-4">
                <ul class="nav-footer">
                    <li>
                        <a href="index.html#page-top">Home</a>
                    </li>
                    <li>
                        <a href="http://saral.navgurukul.org">&lt;SARAL&gt;</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="nav-footer">
                    <li>
                        <a href="index.html#team">Team</a>
                    </li>
                    <li>
                        <a href="donate.html">Donate Now</a>
                    </li>
                    <li>
                        <a href="https://angel.co/navgurukul-foundation/jobs">Join Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="nav-footer">
                    <li>
                        <a href="index.html#contact">Contact</a>
                    </li>
                    <li>
                        <a href="index.html#toc">Theory Of Change</a>
                    </li>
                    <li>
                        <a href="honours.html">Roll Of Honours</a>
                    </li>
                </ul>
            </div> -->
            <div class="col-md-12 text-center">
                <span class="bottombrand wow flipInX">Start learning now at <a href="https://saral.navgurukul.org">SARAL</a><br/>
                Website maintained by NavGurukul students</span>
            </div>
        </div>
    </div>
</section>
    
