<section id="toc">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">Conduct a Test in Your Locality/Community</h2>
      <hr />
    </div>
  </div>

  <div class="container">
    <p class="text-center w-100">If there are youth around you who are interested in giving the test, you can help them take the test in two ways:
    </p>
    <div class="equal-heights w-middle row">
      <div class="col-md-6 bg-primary">
        <div class="box">
          <h2 class="text-center"><b>Online</b> Tests</h2>
          <p>
            Anyone with a smartphone or access to Laptop/Computer can give the test online using this link: <a href="admissions.navgurukul.org" target="_blank" style="color: whitesmoke;"><strong>admissions.navgurukul.org</strong></a>.
          </p>
        </div>
      </div>
      <!-- <div class="col-md-4 tocbg"></div> -->
      <div class="col-md-6 bg-dark">
        <div class="box">
          <h2 class="text-center"><b>Offline</b> Tests</h2>
          <p>
            If you are proctoring the exam, we will send you the test papers. Once the test is over, you can simply send the photos of the answer sheet and the student information sheet to us.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>