<section id="partners" class="container">
  <div class="text-center">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Who are we looking for?</h2>
        <hr class="primary">
      </div>
    </div>

    <div class="large_text" style="overflow: hidden;">
      <p>If you are an organisation or an individual who works with youth and/or in education, we have a great potential to collaborate.</p>
      <p>Our partners motivate and inform their communities about our software engineering program and its benefits. They identify youth who could use this opportunity and conduct the admissions test for them if needed.</p>
      <p>We support our partners in this mobilization process by understanding the needs of the youth in their community, offering them content for information sessions and admissions tests. </p>
      <p>Once the students are selected with the help of any partner, we offer the progress reports of the students to the partner and help them share their inspirational stories in their impact reports and talks. </p>
    </div>
  </div>
</section>