<div class="text-center mt-5 pt-md-5 px-md-5 px-4">
  <!-- <h2 class="section-heading text-center">IN THE PRESS</h2>
    <hr class="primary" /> -->
  <div class="newsArticles">
    <div class="mx-3">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-12">
          <a data-fancybox href="https://www.youtube.com/watch?v=dLVT1fJeWHI">
            <img class="card-img-top img-fluid" src="https://img.youtube.com/vi/dLVT1fJeWHI/mqdefault.jpg">
            <img src="{{root}}assets/img/playicon.png" class="playicon" />
          </a>
        </div>
        <div class="px-4 align-self-center col-md-4 col-12" style="word-break: break-word">
          <h3>Understanding Admissions</h3>
          <p>This video explains the entire process of how mobilisation works.</p>
        </div>
      </div>
    </div>
  </div>
</div>