<!-- IN the supportedby
    ================================================== -->

<section id="supportedby">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-center">SUPPORTED BY:</h2>
      <hr class="primary" />
      <div class="sorttedby">
        {{#each supportBy}}
        <div class="slide-content">
          <a href="{{this.link}}" target="_blank" class="nounderline d-flex justify-content-center py-4" rel="nofollow"><img src="{{root}}{{this.logo_img}}" /></a>
        </div>
        {{/each}}
      </div>
    </div>
</section>
<div class="clearfix"></div>