name: Validate JSONs

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  verify-json-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Validate JSON
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: ./schema.json
          INPUT_JSONS: /src/data/alumni.json,/src/data/articles.json,/src/data/classes_en.json,/src/data/classes_hi.json,/src/data/codestars.json,/src/data/donate-text.json,/src/data/donate.json,/src/data/faqs.json,/src/data/looking_for.json,/src/data/main_carousel.json,/src/data/partner_intro_text.json,/src/data/testimonials.json
